imageio==2.3.0
matplotlib ==2.2.2
numpy==1.15.0
pandas==0.23.4
python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.1
scikit-image ==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
torch ==1.0.0
torchvision==0.2.1
tqdm==4.24.0
Flask==1.1.2
flask-restful==0.3.8
pymongo==3.11.13
requests==2.25.1
google-cloud-storage==1.38.0
google-cloud-vision==2.3.1

